{% extends 'base.html.twig' %}

{% block body %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Stable</th>
                <th>Location</th>
                <th>Capacity</th>
            </tr>
        </thead>
        <tbody>
            {% for stable in stables %}
                <tr>
                    <td>
                        <a href="{{ path('stable_show', {'id': stable.id}) }}">
                            {{ stable.name }}
                        </a>
                    </td>
                    <td>{{ stable.location }}</td>
                    <td>{{ stable.capacity}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
    <ul>
      <li>
          <a href="{{ path('stable_new') }}">Add new stable</a>
      </li>
      <li>
          <a href="{{ path('horse') }}">Go to Horse List</a>
      </li>
  </ul>
  
{% endblock %}
