{% extends 'base.html.twig' %}

{% block title %}Stable {{ stable.name }}{% endblock %}

{% block body %}
    <h2 class="horse-name">{{ stable.name }}</h2>

    <div class="horse-container">
        <div class="horse-photo"></div>
        <div class="horse-details">
            <dl class="horse-details-list">
                <dt>Location:</dt>
                <dd>{{ stable.location }}</dd>
                <dt>Capacity:</dt>
                <dd>{{ stable.capacity }}</dd>
            </dl>
        </div>
    </div>
    
    <ul>
        <li>
            <a href="{{ path('stable') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('stable_edit', { 'id': stable.id }) }}">Edit</a>
        </li>
        
    </ul>
{% endblock %}
