{% extends 'base.html.twig' %}

{% block body %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Horse</th>
                <th>Age</th>
                <th>Breed</th>
            </tr>
        </thead>
        <tbody>
            {% for horse in horses %}
                <tr>
                    <td>
                        <a href="{{ path('horse_show', {'id': horse.id}) }}">
                            {{ horse.name }}
                        </a>
                    </td>
                    <td>{{ horse.age }}</td>
                    <td>{{ horse.breed}}</td>
                    
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
    <ul>
      <li>
          <a href="{{ path('horse_new') }}">Add new horse</a>
      </li>
      <li>
          <a href="{{ path('stable') }}">Go to Stable List</a>
      </li>
  </ul>
  
{% endblock %}
