{% extends 'base.html.twig' %}

{% block title %}Horse {{ horse.name }}{% endblock %}

{% block body %}
    <h2 class="horse-name">{{ horse.name }}</h2>

    <div class="horse-container">
        <div class="horse-photo"></div>
        <div class="horse-details">
            <dl class="horse-details-list">
                <dt>Age:</dt>
                <dd>{{ horse.age }}</dd>
                <dt>Breed:</dt>
                <dd>{{ horse.breed }}</dd>
                <dt>Disipline:</dt>
                <dd>{{ horse.disipline }}</dd>
                <dt>Stables:</dt>
                <dd>{{ horse.stable }}</dd>
            </dl>
        </div>
    </div>
{% endblock %}
